@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white; /* Для такси лучше светлый фон */
}

/* 2. Обязательные стили для отображения карты */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0; /* Чтобы карта не перекрывала выпадающие списки */
}

/* 3. Фикс для навигации (чтобы линия маршрута была видна) */
.leaflet-routing-container {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  color: black;
}